@model WebApplication.Models.Order



@{ 
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    var authTicket = FormsAuthentication.Decrypt(authCookie.Value);
    var roles = authTicket.UserData.Split(',')[1];
    var userId = authTicket.UserData.Split(',')[0];
}


<div>


</div>

