@font-face {
    font-family: 'OS';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.content {
   display: flex;
   justify-content: space-around;
}

.card-img {
    width: 90px;
    height: 90px;
}

.nav-item {
    font-size: 20px;
}

.navbar .navbar-expand-lg .bg-body-tertiary {
    margin: 0 auto;
}