@model Web.Models.LoginViewModel


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{

    <head>
        <title>aaa</title>
        <link rel="stylesheet" href="~/wwwroot/login.css" />
    </head>
    <div class="main" align="center">
        <p class="sign">Sign in</p>
        <form class="form1">
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "un" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "pass" })
        </form>
        <button type="submit" class="button-64">Login</button>
    </div>

}