@model Web.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="~/wwwroot/login.css" />
    </head>

    <div class="main" align="center">
        <p class="sign">Register</p>
        <form class="form1">
            @Html.TextBoxFor(m => m.Email, new { @class = "un", placeholder = "Email" })
            @Html.TextBoxFor(m => m.Username, new { @class = "un", placeholder = "Username" })
            @Html.PasswordFor(m => m.Password, new { @class = "pass", placeholder = "Password" })

            <button type="submit" class="button-64">Register</button>
        </form>
    </div>
}