<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/prod_card.css">
    <title>Document</title>
</head>

<body>
    <section class="content">
        <div class="container_content">
            <img class="img_back" src="./img/pexels-reneterp-1327377.jpg" alt="">
            <div class="bg_img">

            </div> 
            <div class="case_descr">
                <div class="title_card">
                    <h1>Апартаменты двухуровневые</h1>
                </div>
                <ul>
                    <li>Количество комнат: 2</li>
                    <li>Гостей: 2</li>
                    <li>Средняя площадь: 52 m/2</li>
                </ul>
                <span class="prace">3500 лей в сутки </span>
                <p>*Цены могут отличаться в праздничные дни</p>
                <button type="button" class="btn btn-success" style="width: 100%;">Забронировать</button>
            </div>
        </div>
    </section>

    <section class="illustation">
        <div class="container_illust">
            <div class="text_ilust">
                <p>
                    <snap class="animated_text_up">
                        Просторные и удобные, коттеджи Treehouse идеально подходят как для пар, желающих провести
                        романтический вечер, так и для семей с детьми. В коттедже на втором уровне находится спальня, а на
                        первом - гостиная с раскладным диваном. Поскольку мы хотим, чтобы вы чувствовали себя как дома,
                        коттедж оборудован всем необходимым.
                    </snap>
                </p>
                <p>
                    <snap class="animated_text_down">
                        Терраса коттеджа - это место для отдыха и медитации, где вы можете спокойно выпить чашечку кофе,
                        а в
                        непосредственной близости вам предлагается бесплатная площадка для гриля.
                    </snap>
                </p>
                <div class="img_illu_1">
                    <img class="img_illu_1_1" src="./img/444.jpg" alt="">
                </div>
            </div>
            <div class="img_illu_2">
                <img class="img_illu_2_2" src="./img/5555.jpg" alt="">
            </div>
        </div>
    </section>
</body>

</html>2