@font-face {
    font-family: 'OS';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.content {
    width: 1500px;
    margin: 0 auto;
}

h1 {
   margin-bottom: 20px;
}

.container_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown {
    margin-top: 50px;
    position: relative;
    display:block;
}
.dropdown-content {
    display:none;
    background-color: white;
    min-width: 1500px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 50px 80px 50px 80px;
    z-index: 1;
    left: 50%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.3s ease-out, opacity 0.3s ease-out;
}
.dropdown.show .dropdown-content {
    padding: 50px 80px 50px 80px;
    display: block;
}

.img_arrow {
   padding-left: 20px; 
 
}

p {
    font-size: 18px;
    font-weight: 600;
}

.button_drop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    font-size:30px ;
    width: 1500px;
    height: 200px;
    border:none;
    color: white;
    background-color:#094337;
}

footer {
    margin-top: 40px;
}

.container_footer {
    width: 100%;
    height: 70vh;
    background-color:#094337;
    padding: 30px;
}

.footer_row {
   display: flex;
   justify-content: space-between;
 
}
h3 {
    color:white;
}

li {
    list-style: none;
    color:white;
    margin-top: 10px;
    transition: 0.5s;
}

li:hover {
    transition:1s;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color:black
}
a:hover {
opacity: 1;
margin-left: 5px;

}

.footer_colum {
    margin-left: 30px;
}

ul {
    padding: 0;
}

.massagers { 
 padding: 30px;
}

.massagers > a {
    margin-right: 15px;
}

.img_mass {
    width: 40px;
    height: 40px;
}

.card_img {
    display: flex;
    justify-content: flex-end;
}
.img_card {
    width: 100px;
    height: 100px;
}