@{
    ViewBag.Title = "Edit_prof";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./style/edit_prof.css">
    <title>Edit Profile</title>
</head>

<body>
    <section class="contant">
        <div class="container_content">
            <h1>Profile</h1>

            <!-- Исправленная кнопка "Назад" -->
            <a href="profil.html" class="btn btn-outline-secondary">
                <img class="img_home" src="./icons/icons8-стрелка-влево-в-круге-24.png" alt="Назад">Назад
            </a>

            <div class="password_p">
                <h2>Edit profile</h2>
                <div class="password_face">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Login</span>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Name</span>
                        <input type="text" class="form-control" name="first_name" placeholder="First name">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Surname</span>
                        <input type="text" class="form-control" name="last_name" placeholder="Second name">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Email</span>
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-secondary">Edit</button>
            </div>
        </div>
    </section>
</body>
</html>