@model WebApplication.Models.User

@{
    Layout = null;
}

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="~/wwwroot/prodil.css" />
</head>

<div class="profile-info">
    <h2>@Model.Username's Profile</h2>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Password:</strong> @Model.Password</p>
    <a href="@Url.Action("UpdateProfil", "Account")" class="btn btn-primary">Update Profile</a>
</div>