@model WebApplication.Dto.RegisterRequest
@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{

        <div class="content_window">
            <div class="title">
                <img class="img_user" src="./icons/icons8-user-48.png"><h2>SignUp</h2>
            </div>
            <div class="input-group mb-3">
                
                <span class="input-group-text" id="basic-addon1"></span>
                @Html.TextBoxFor(m => m.Username, new { @class = "un", placeholder = "Username" })
            </div>
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "un", placeholder = "Email" })
                <span class="input-group-text" id="basic-addon2"></span>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "pass", placeholder = "Password" })
                <div class="button_concant">
                    <button type="submit" class="btn btn-outline-success" style="width: 150px;">Enter</button>
                </div>
                <div class="sign_up">
                    
                </div>

            </div>
        </div>
}
